mat-table{
    width: 100%;
    padding-left:100px;
}

.mat-header-cell {
    color: black;
    font-size: large;
    background-color: rgb(63, 63, 112);
}
   
  .mat-cell {
    color: blue;   
    background-color: rgba(142, 140, 140, 0.385);
}

button{
    margin-left: 300px;
}

  .mat-row {
    height: auto;
  }

  .mat-cell {
    padding: 20px 0 20px 0;
    font-size: 14px;
    min-height: 100px;
    min-width: 200px;
    text-align: center;
  }
  .mat-header-cell{
    padding: 20px 0 20px 0;
    min-width: 200px;
    text-align: center;
  }
 
  .mat-form-field{
    padding-top: 20px;
    padding-left:100px;
  }
 

