

    <mat-form-field appearance="fill">
        <mat-label>Choose language</mat-label>
        <mat-select  name="language" [(value)]="selectedValue">
        <mat-option *ngFor="let language of languages" [value]="language.id">
            {{language.name}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onClick()">Get Lectures</button>


    <mat-table [dataSource]="lectures" class="mat-elevation-z8" appearance="fill">
        <!-- id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> EMail </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>

